<div class="container">
  <h2 class="text-center bg-primary">Create Notice</h2>
  <%= form_for @notice do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%=f.submit "Create Notice", class: "btn btn-primary" %>
  <% end %>
</div>
