<div class="container">
  <table class="table">
    <tr>
      <td class="text-center text-primary"><h3><%= @notice.notice_title %></h3></td>
    </tr>
    <tr>
      <td class="text-center"><%= @notice.content %></td>
    </tr>
  </table>
</div>
