<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @candidate.name %>,<br><br>
      Congratulations!<br> We are glad to inform you that you have been selected for admission in
      our school.The admission process will start from 24th October 2017.<br><br>
      Thanks
      <br>
      <br>
    </p>
    <p>
      Chandan Kumar<br>
      Admission Department,<br>
      ABC School,<br>
      ABC City
    </p>
  </body>
</html>
