<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @candidate.name %>,<br><br>
      You have successfully applied for admission in
      our school.Your admission status is currently under process.Appointment details will be
      available under your profile section in our website. We will notify you further once shortlisting
       of candidates starts. <br><br>
      Thanks
      <br>
      <br>
    </p>
    <p>
      Chandan Kumar<br>
      Admission Department,<br>
      ABC School,<br>
      ABC City
    </p>
  </body>
</html>
