<div class="container">
  <h2 class="text-center bg-info">Update Candidate</h2>
  <br>
  <%= form_for @candidate, url: section_candidate_path, html: { multipart: true } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="text-center">
      <%= f.submit "Update Candidate", class: "btn btn-info" %>
    </div>
  <% end %>
</div>
