<div class="container">
  <h2 class="text-center bg-info">Add candidate details</h2>
  <br>
  <%= form_for @candidate, url: section_candidates_path, html: { multipart: true } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="text-center">
      <%= f.submit "Apply for admission", class: "btn btn-info" %>
    </div>
  <% end %>
</div>
