/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require candidates
 */


@import "bootstrap-sprockets";
@import "bootstrap";

* {
margin: 0;
}
html, body {
height: 100%;
}
.bg-body{
  background-color: #FFF ;
}
.btn-width{
  width:250px;
}
.navbar-inverse {
    background-color: #337ab7;
    border-color: #337ab8;
}
.navbar-inverse .navbar-nav > li > a{
  color:#fff;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color:#ccc;
}
.no-underline:hover{
  text-decoration: none;
  color: #732626;
}
div h1, div h2{
  padding-top: 10px;
  padding-bottom: 10px;
}
div h3{
  padding-top: 5px;
  padding-bottom: 5px;
}
.bg-gray{
  background-color: #F1F1F1;
  padding: 10px;
}
.bg-green{
  background-color: #aeeaae;
  padding: 10px;
}
.gray-border{
  border : 1px solid #ccccb3;
  border-radius: 5px;
}
.bg-red{
  background-color: #ffe0cc;
  padding: 10px;
}
.text-big{
  font-size: 16px;
}
.text-bigger{
  font-size: 26px;
  font-weight: bold;
  color: #732626;
}
.user-width{
  width:35px;
  height:35px;
  border: 1px solid #337AB7;
  border-radius: 10px;
}
.logo-height-1{
  width: 75px;
  height: 87px;
}
.logo-height-2{
  width: 70px;
  height: 75px;
}
.btn-group.open #dropdownMenuButton{
  background: #337AB7;
}
#dropdownMenuButton:hover{
  cursor: pointer;
}
.dropdown{
  margin-top: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
.absolute{
  position:absolute;
  z-index: 2;
  left:5%;
}
.bg-light-blue{
  background-color: #EDF9F8;
}
.shadow{
  box-shadow: 5px 5px 5px #9bc1ff;
}
.copyright-privacy-policy{
  float:right;
  margin-top:20px;
  margin-bottom:20px;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -60px;
}
.footer, .push{
height: 60px;
}
.footer{
  margin-top: 50px;
}
.privacy-policy{
  border-left: 1px solid #337AB7;
  padding-left:10px;
}
