<div class="container">
  <h2 class="text-center bg-info">Add New Eligibility Criteria</h2>
  <%= form_for @eligibility do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="text-center">
      <%= f.submit "Create Eligibility Criteria", class: "btn btn-info" %>
    </div>
  <% end %>
</div>
