<div class="footer bg-info container-fluid">
		<div class="container">
			  <span class="copyright-privacy-policy">
				  <span class="copyright">Marigold International school &copy; 2017</span>
				  <a href="#" class="privacy-policy"> Privacy Policy</a>
			  </span>
		</div>
</div>
